.container {
    padding: 20px;
    border-radius: 10px;
    display: block;
}
h1 {
    color: #34495e;
    font-size: 2.4em;
}

h2 {
    color: #34495e;
    padding: 10px;
}

.step {
    background-color: #ccc;
    color: #2c3e50;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.enc_details {
    text-align: justify;
    color: #666;
    margin: 10px;
}

b{
    color: #333;
}
ul {
    margin-left: 25px;
}

.return-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #ecf0f1;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px; 
}