.otp-container {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: #ecf0f1;
    text-align: center;
}

.otp-container h1 {
    margin-bottom: 20px;
    color: #34495e;
    font-size: 2.5em;
}

.otp-container p {
    margin-bottom: 20px;
    color: #34495e;
    font-size: 1.2em;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;  /* Ensure the labels are left-aligned */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-size: 1.2em;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.checkbox-group {
    text-align: center;
    display: inline-flex;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #ecf0f1;
    background-color: #2980b9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px; /* Add some space between input fields and button */
}

.submit-btn:hover {
    background-color: #3498db;
}
