{% extends "base.html" %}

{% block title %}Dashboard | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
    <div class="base-menu">
        <!-- Add base menu content here -->
    </div>
    <div class="main-dashboard">
        <h1>Welcome to CrypticNotes, {{ user_name }}</h1>
        <div class="dashboard-content">
            <div class="dashboard-item" onclick="location.href='/page1';">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image">
                <h2>Page 1</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/page2';">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image">
                <h2>Page 2</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/page3';">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image">
                <h2>Page 3</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/page4';">
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image">
                <h2>Page 4</h2>
            </div>
        </div>
    </div>
{% endblock %}
