{% extends "base.html" %}

{% block title %}Dashboard | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
    <div class="base-menu">
        <!-- Add base menu content here -->
    </div>
    <div class="main-dashboard">
        <h1>Welcome to CrypticNotes, {{ user_name }}!</h1>
        <div class="dashboard-content">
            <div class="dashboard-item" onclick="location.href='/create_new_note';">
                <img src="{{ url_for('static', filename='images/plus-solid.svg') }}" alt="Placeholder Image">
                <h2>Create New Note</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/view_notes';">
                <img src="{{ url_for('static', filename='images/eye-regular.svg') }}" alt="Placeholder Image">
                <h2>View Your Notes</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/settings';">
                <img src="{{ url_for('static', filename='images/gear-solid.svg') }}" alt="Placeholder Image">
                <h2>Settings</h2>
            </div>
            <div class="dashboard-item" onclick="location.href='/encryption_details';">
                <img src="{{ url_for('static', filename='images/lock-solid.svg') }}" alt="Placeholder Image">
                <h2>Encryption Details</h2>
            </div>
        </div>
    </div>
{% endblock %}
