{% extends "base.html" %}

{% block title %}OTP Verification | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/two_factor_auth.css') }}">
{% endblock %}

{% block content %}
    <div class="otp-container">
        <h1>Email Verification</h1>
        <p>Enter the 4 digit OTP sent to your email</p>
        <form action="/verify_email" method="POST">
            <div class="form-group">
                <input type="text" id="otp" name="otp" maxlength="4" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
{% endblock %}
