{% extends "base.html" %}

{% block title %}View Note | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_new_note.css') }}">
{% endblock %}

{% block content %}
    <div class="new-note-container">
            <!--<input type="hidden" id="note_id" value="{{ note_id }}"> -->
            <div class="form-group">
                <input type="text" id="title" name="title" placeholder="Title" value="{{ note.title }}" readonly>
            </div>
            <div class="form-group">
                <textarea id="content" name="content" placeholder="Enter text here..." readonly>{{ note.content }}</textarea>
                {% if canvas_filename %}
                    <h3>Canvas</h3>
                    <img id="drawingCanvasNote" src="{{ url_for('static', filename='uploads/' ~ canvas_filename) }}" alt="Canvas Image" style="max-width:100%;">
                {% endif %}
            </div>
            <div class="form-group">
                <h3>Digital signatures information:</h3>
                <h4>Original data hash</h4>
                <p class="hash_value">{{original_hash}}</p>
                <h4>Recieved data hash</h4>
                <p class="hash_value">{{verified_hash}}</p>
                <h4>Digital signature</h4>
                <p class="hash_value">{{digital_signature}}</p>
            </div>
    </div>
    <script>
        const textarea = document.getElementById('content');
        function adjustTextareaHeight() {
            textarea.style.height = 'auto';  // Reset the height to auto to shrink the height if text is deleted
            textarea.style.height = (textarea.scrollHeight) + 'px';  // Set the height to scrollHeight
        }
        adjustTextareaHeight();        
    </script>
{% endblock %}
