{% extends "base.html" %}

{% block title %}View Notes | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_notes.css') }}">
{% endblock %}

{% block content %}
    {% if not notes %}
        <h1>No notes to show.</h1>
        <button onclick="location.href='{{ url_for('dashboard') }}'">Return to dashboard</button>
    {% else %}
    <div class="note_header">
        <h1>Your Notes</h1>
        <input type="search" name="search_field" id="search_field" placeholder="Enter the note title...">
        <button id="search_btn">Search</button>
        <button type="button" onclick="location.href='{{ url_for('export_notes') }}'">Export Notes</button>
        <button onclick="location.href='{{ url_for('dashboard') }}'">Return to dashboard</button>
    </div>
    <div class="notes-container">
        {% for note in notes %}
            <div class="note">
                <div class="note_headings">
                    <h2>{{ note.title }}</h2>
                    <p>{{ note.content[:100] }}...</p>
                    <p><small>Last modified: {{ note.last_modified }}</small></p>
                </div>
                <div class="note_buttons">
                    <button onclick="location.href='{{ url_for('view_note', note_id=note.generated_id) }}'">View</button>
                    <button onclick="location.href='{{ url_for('edit_note', note_id=note.generated_id) }}'">Edit</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#search_btn').click(function(){
                var query = $('#search_field').val();
                $.ajax({
                    url: '/search',
                    type: 'POST',
                    data: { 'query': query },
                    success: function(response){
                        $('.notes-container').html(response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
    {% endif %}
{% endblock %}
