{% extends "base.html" %}

{% block title %}View Notes | CrypticNotes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_notes.css') }}">
{% endblock %}

{% block content %}
    {% if not notes %}
        <h1>No notes to show.</h1>
        <button onclick="location.href='{{ url_for('dashboard') }}'">Return to dashboard</button>
    {% else %}
    <div class="note_header">
        <button onclick="location.href='{{ url_for('dashboard') }}'">Return to dashboard</button>
        <h1>Your Notes</h1>
    </div>
    <div class="notes-container">
        {% for note in notes %}
            <div class="note">
                <div class="note_headings">
                    <h2>{{ note.title }}</h2>
                    <p>{{ note.content[:100] }}...</p>
                    <p><small>Last modified: {{ note.last_modified }}</small></p>
                </div>
                <div class="note_buttons">
                    <button onclick="location.href='{{ url_for('view_note', note_id=note.note_id) }}'">View</button>
                    <button onclick="location.href='{{ url_for('edit_note', note_id=note.note_id) }}'">Edit</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
